/src/__pycache__/
/src/parser.out
/src/parsetab.py
.idea/workspace.xml
ply/__pycache__/__init__.cpython-310.pyc
ply/__pycache__/__init__.cpython-38.pyc
ply/__pycache__/lex.cpython-310.pyc
ply/__pycache__/lex.cpython-38.pyc
ply/__pycache__/yacc.cpython-310.pyc
.idea/
.idea/inspectionProfiles/Project_Default.xml
.idea/vcs.xml
.idea/Tambarduine.iml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/profiles_settings.xml